* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
nav {
  height: 90px;
  text-transform: uppercase;
}
a img {
  height: 100px;
}
a.nav-link {
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}
a.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
button.exit {
  color: #ff004c;
  font-weight: 500;
  background-color: #00000000;
  border: none;
  margin-right: 1rem;
}
button.exit:hover {
  color: #b80037;
  font-weight: 500;
}
.neo-section {
  min-height: 31rem;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem;
  position: relative;
}
.neo-container {
  max-width: 1280px;
  padding: 2% 2%;
  margin: 100px auto;
}
.sombra {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.neo-section > .neo-container {
  position: relative;
  z-index: 105;
}
.wm {
  width: 50%;
  float: left;
}
.text-center {
  color: #fff;
  font-size: 3rem;
  font-family: "Ubuntu";
  font-weight: bold;
}
h5.btn {
  width: 280px;
  color: #fff;
  border-radius: 10px;
  border: 3px solid #a55eea;
  padding: 20px;
  font-weight: bold;
}
h5.btn:hover {
  color: #ce93d8;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.botoes {
  padding: 1rem;
}
.footer {
  color: #fff;
  background-color: #4527a0;
  text-align: center;
  font-size: 1rem;
  padding: .5rem 0;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
}
.row{
  margin-top:.5rem;
}
@media screen and (max-width: 991px) {
  .wm {
    width: 100%;
  }
  .nav {
    height: 100%;
  }
  nav a img {
    position: absolute;
    top: 0;
  }
  .neo-container{
    margin-top: 120px;
  }
}
.container{
  padding: 1rem;
}
td a{
  margin: .5rem;
}
th.action{
  text-align: center;
}
td.buttons{
  text-align: center;
}
.card{
  margin: 1rem;
  padding: 0 !important;
}